aniso8601==3.0.2
boto3==1.7.77
botocore==1.10.77
Django
django-filter
django-storages==1.6.6
docutils==0.14
graphene
git+https://github.com/jayhale/graphene-django.git@django-filter-2#egg=graphene-django
gunicorn==19.9.0
iso8601==0.1.12
jmespath==0.9.3
Pillow==5.2.0
promise==2.1
psycopg2-binary==2.7.5
python-dateutil==2.7.3
pytz==2018.5
Rx==1.6.1
s3transfer==0.1.13
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.4
